doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    p Hello #{user.profile.name}!
    p We thought you might like to volunteer for an upcoming event. Below are the event details:
    | Title: #{event.title}
    br
    | Description: #{event.description}
    br
    | Category: #{event.type}
    br
    | Schedule: #{new Date(event.eventDate)}
    br
    br
    | To volunteer, you may click the following link below:
    p
        a(href='#{join}') Yes, I want to volunteer for this event! :)
    | Or copy and paste the link if the above one doesn't work:
    p #{join}
    br
    Thanks for making the world a better place!
    | Cheers,
    br
    | The VoLAHnteer Team
