extends ../layout

block content
  .page-header
    h3=t('user.profileInfo')

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label.col-sm-2.control-label(for='email')=t('user.email')
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name')=t('user.name')
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender')=t('user.gender')
      .col-sm-4
        label.radio
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span=t('user.male')
        label.radio
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span=t('user.female')
    .form-group
      label.col-sm-2.control-label(for='location')=t('user.location')
      .col-sm-4
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-2.control-label(for='website')=t('user.website')
      .col-sm-4
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-2.control-label(for='gravatar')=t('user.gravatar')
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-magnet
          !=t("user.updateProfile")


  .page-header
    h3=t('user.changePassword')

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label.col-sm-3.control-label(for='password')=t('user.newPassword')
      .col-sm-4
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword')=t('user.confirmPassword')
      .col-sm-4
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-keyboard-o
          !=t('user.changePassword')

  .page-header
    h3=t('user.deleteAccount')

  p=t('user.deleteAccountNote')
  form(action='/account/delete', method='POST')
    input(type='hidden', name='_csrf', value=token)
    button.btn.btn-danger(type='submit')
      i.fa.fa-trash-o
      !=t("user.deleteMyAccount")

  .page-header
    h3=t('user.linkedAccounts')

  if user.google
    p: a.text-danger(href='/account/unlink/google')=t('user.unlinkGoogleAccount')
  else
    p: a(href='/auth/google')=t('user.linkGoogleAccount')

  if user.facebook
    p: a.text-danger(href='/account/unlink/facebook')=t('user.unlinkFacebookAccount')
  else
    p: a(href='/auth/facebook')=t('user.linkFacebookAccount')

  if user.twitter
    p: a.text-danger(href='/account/unlink/twitter')=t('user.unlinkTwitterAccount')
  else
    p: a(href='/auth/twitter')=t('user.linkTwitterAccount')

  if user.github
    p: a.text-danger(href='/account/unlink/github')=t('user.unlinkGithubAccount')
  else
    p: a(href='/auth/github')=t('user.linkGithubAccount')
