.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')=t('common.projectName')
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title==t('common.home')?'active':undefined)
          a(href='/')=t('common.home')
        li(class=title==t('common.apiBrowser')?'active':undefined)
          a(href='/api')=t('common.apiBrowser')
        li(class=title==t('common.contact')?'active':undefined)
          a(href='/contact')=t('common.contact')
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title==t('common.login')?'active':undefined)
            a(href='/login')=t('common.login')
          li(class=title==t('user.create')?'active':undefined)
            a(href='/signup')=t('user.create')
        else
          li.dropdown(class=title==t('user.accountManagement')?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account')=t('user.myAccount')
              li.divider
              li: a(href='/logout')=t('user.logout')
