doctype html
html.h-100(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    //- Facebook App ID
    meta(property='fb:app_id', content=FACEBOOK_ID)

    title #{ title } - Hackathon Starter
    link(rel='shortcut icon', href='/favicon.ico')
    //link(rel='stylesheet', href='/css/bootstrap.min.css') // bootstrap css gets added to main.css via main.scss build
    link(rel='stylesheet', href='/css/main.css?v=' + getFileHash('/css/main.css'))
    link(rel='stylesheet', href='/css/lib/cookieconsent.min.css?v=' + getFileHash('/css/lib/cookieconsent.min.css'))
    block head

  body.d-flex.flex-column.h-100
    include partials/header

    .flex-shrink-0
      .container.mt-3
        include partials/flash
        block content

    include partials/footer

    script(src='/js/lib/jquery.min.js?v=' + getFileHash('/js/lib/jquery.min.js'))
    script(src='/js/lib/bootstrap.min.js?v=' + getFileHash('/js/lib/bootstrap.min.js'))
    script(src='/js/main.js?v=' + getFileHash('/js/main.js'))
    script(src='/js/lib/cookieconsent.umd.min.js?v=' + getFileHash('/js/lib/cookieconsent.umd.min.js'))
    //- Default Google consent state, CookieConsent config, and Facebook Pixel
    //- queue stub all live in this single file. The FACEBOOK_PIXEL_ID data
    //- attribute is read by the bundle via document.currentScript since static
    //- assets can't see Pug template variables directly.
    script(src='/js/cookieconsent-bundle.js?v=' + getFileHash('/js/cookieconsent-bundle.js'), data-facebook-pixel=FACEBOOK_PIXEL_ID || '')

    //- Google Analytics  GA4. Both the gtag.js library and the config call are
    //- gated on data-category='analytics' so they only execute after the user
    //- grants analytics consent. The default consent state (set in the bundle)
    //- is what stops Google from setting any cookies until then.
    if GOOGLE_ANALYTICS_ID
      script(type='text/plain', data-category='analytics', async, src=`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`)
      script(type='text/plain', data-category='analytics').
        gtag('js', new Date());
        gtag('config', '#{ GOOGLE_ANALYTICS_ID }');

    //- Facebook Pixel fbevents.js loader. Gated on data-category='marketing'
    //- so the library only loads after the user grants marketing consent. The
    //- fbq queue stub and init/track calls live in the bundle.
    if FACEBOOK_PIXEL_ID
      script(type='text/plain', data-category='marketing').
        !function (f, b, e, v, t, s) {
          t = b.createElement(e);
          t.async = !0;
          t.src = v;
          s = b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t, s);
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
