extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      img(src='https://s.imgur.com/images/favicon-32x32.png', height=32, style='margin-right: 10px')
      | Imgur API

  .btn-group.mb-4.d-flex(role='group')
    a.btn.btn-primary.w-100(href='https://apidocs.imgur.com/', target='_blank')
      i.far.fa-check-square.fa-sm.iconpadding
      | Getting Started
    a.btn.btn-primary.w-100(href='https://api.imgur.com/oauth2/addclient', target='_blank')
      i.fas.fa-key.fa-sm.iconpadding
      | Get API Key
    a.btn.btn-primary.w-100(href='https://apidocs.imgur.com/', target='_blank')
      i.far.fa-file-alt.fa-sm.iconpadding
      | API Docs

  if error
    .alert.alert-danger(role='alert')
      strong Error:
      | #{ error }
      p.mt-2
        small To use this API example, you need to:
        ol.mt-2
          li Visit
            |
            a(href='https://api.imgur.com/oauth2/addclient', target='_blank') https://api.imgur.com/oauth2/addclient
          li Register your application and get a Client ID
          li Add your Client ID to the <code>IMGUR_CLIENT_ID</code> environment variable
  else
    // Popular Tags
    if tags && tags.length > 0
      h3
        i.fas.fa-tags.fa-sm.iconpadding
        | Popular Tags
      each tag in tags.slice(0, 10)
        span.badge.badge-secondary.mr-2.mb-2= tag.name
      br
      br

    // Hot Viral Galleries
    if galleries && galleries.length > 0
      h3
        i.fas.fa-images.fa-sm.iconpadding
        | Hot Viral Galleries
      table.table.table-striped.table-bordered
        thead
          tr
            th Title
            th Views
            th Score
            th Images
            th Link
        tbody
          each gallery in galleries.slice(0, 5)
            tr
              td
                strong= gallery.title
                if gallery.description
                  br
                  small.text-muted= gallery.description.length > 60 ? gallery.description.substring(0, 60) + '...' : gallery.description
              td= gallery.views.toLocaleString()
              td= gallery.score
              td= gallery.images ? gallery.images.length : 0
              td
                a.btn.btn-sm.btn-outline-primary(href=gallery.link, target='_blank') View
    else
      .alert.alert-info(role='alert')
        | No gallery data available at the moment.

  hr
  p
    | This example demonstrates the Imgur API by fetching popular viral galleries and trending tags.
    | The API uses a Client ID for authentication and has rate limits for requests.
