extends ../layout

block content
  h2
    i.fas.fa-flask.fa-sm.iconpadding
    | PubChem API - Chemical Information

  .btn-group.d-flex(role='group')
    a.btn.btn-primary.w-100(href='https://pubchem.ncbi.nlm.nih.gov/docs/pug-rest', target='_blank')
      i.far.fa-check-square.fa-sm.iconpadding
      | Getting Started
    a.btn.btn-primary.w-100(href='https://pubchem.ncbi.nlm.nih.gov/docs/pug-rest-tutorial', target='_blank')
      i.far.fa-file-alt.fa-sm.iconpadding
      | Documentation
  br

  // Main Chemical Information Section
  if compound && compound.props
    .card.text-white.bg-success.mb-4
      .card-header
        h6.panel-title.mb-0 Chemical Information - Aspirin
      .card-body.text-dark.bg-white
        .row
          .col-4
            if imageUrl
              img.img-fluid.border.rounded(src=imageUrl, alt='Aspirin 2D Structure', style='max-width: 100%; height: auto')
            else
              .alert.alert-info 2D Structure image not available
          .col-8
            - var iupacName = compound.props.find((p) => p.urn && p.urn.label === 'IUPAC Name');
            h4= iupacName ? iupacName.value.sval : 'Aspirin'

            if properties
              ul.list-unstyled
                if properties.MolecularFormula
                  li
                    strong Molecular Formula:
                    | #{ properties.MolecularFormula }
                if properties.MolecularWeight
                  li
                    strong Molecular Weight:
                    | #{ properties.MolecularWeight } g/mol

        // Synonyms section
        hr
        h5 Synonyms and Alternative Names
        if synonyms && synonyms.length > 0
          .row
            each synonym, index in synonyms
              if index < 10
                .col-md-6.col-lg-4
                  span.badge.bg-secondary.text-white.m-1= synonym
        else
          .alert.alert-warning
            | Synonyms data is not available from the PubChem API.

  // Chemical Properties Section
  if properties
    .card.text-white.bg-info.mb-4
      .card-header
        h6.panel-title.mb-0 Chemical and Physical Properties
      .card-body.text-dark.bg-white
        .row
          .col-md-6
            h6 Molecular Properties
            ul.list-unstyled
              if properties.Complexity
                li
                  strong Complexity:
                  | #{ properties.Complexity }
              if properties.Charge !== undefined
                li
                  strong Formal Charge:
                  | #{ properties.Charge }
              if properties.HeavyAtomCount
                li
                  strong Heavy Atom Count:
                  | #{ properties.HeavyAtomCount }
              if properties.ExactMass
                li
                  strong Exact Mass:
                  | #{ properties.ExactMass } g/mol
              if properties.Volume3D
                li
                  strong 3D Volume:
                  | #{ properties.Volume3D } ų
          .col-md-6
            h6 Physicochemical Properties
            ul.list-unstyled
              if properties.TPSA
                li
                  strong Topological Polar Surface Area:
                  | #{ properties.TPSA } Ų
              if properties.XLogP
                li
                  strong XLogP (Partition Coefficient):
                  | #{ properties.XLogP }
              if properties.HBondDonorCount !== undefined
                li
                  strong Hydrogen Bond Donors:
                  | #{ properties.HBondDonorCount }
              if properties.HBondAcceptorCount !== undefined
                li
                  strong Hydrogen Bond Acceptors:
                  | #{ properties.HBondAcceptorCount }
              if properties.RotatableBondCount !== undefined
                li
                  strong Rotatable Bonds:
                  | #{ properties.RotatableBondCount }

  // Safety and Hazard Information
  if safetyInfo && Object.keys(safetyInfo).length > 0
    .card.text-white.bg-warning.mb-4
      .card-header
        h6.panel-title.mb-0 Safety and Hazard Information
      .card-body.text-dark.bg-white
        .row
          each info, category in safetyInfo
            if info && info.length > 0
              .col-md-6.mb-3
                h6= category
                ul.list-unstyled
                  each item in info.slice(0, 3)
                    li
                      i.fas.fa-exclamation-triangle.fa-sm.text-warning.iconpadding
                      = item

  // Experimental Properties Section
  if experimentalProperties
    .card.text-white.bg-success.mb-4
      .card-header
        h6.panel-title.mb-0 Experimental Properties
      .card-body.text-dark.bg-white
        - var hasAnyData = false;
        - Object.keys(experimentalProperties).forEach(function(key) { if (experimentalProperties[key] && experimentalProperties[key].values && experimentalProperties[key].values.length > 0) hasAnyData = true; });

        if hasAnyData
          .row
            .col-md-6
              // Physical Properties
              if experimentalProperties.physicalDescription && experimentalProperties.physicalDescription.values && experimentalProperties.physicalDescription.values.length > 0
                h6 Physical Description
                ul.list-unstyled
                  each item in experimentalProperties.physicalDescription.values.slice(0, 3)
                    li
                      i.fas.fa-info-circle.fa-sm.text-info.iconpadding
                      if item.isPlaceholder
                        em.text-muted= item.value
                      else
                        = item.value
                      if item.reference && item.reference !== 'Multiple sources'
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.colorForm && experimentalProperties.colorForm.values && experimentalProperties.colorForm.values.length > 0
                h6 Color/Form
                ul.list-unstyled
                  each item in experimentalProperties.colorForm.values.slice(0, 3)
                    li
                      i.fas.fa-palette.fa-sm.text-info.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.odor && experimentalProperties.odor.values && experimentalProperties.odor.values.length > 0
                h6 Odor
                ul.list-unstyled
                  each item in experimentalProperties.odor.values.slice(0, 3)
                    li
                      i.fas.fa-nose.fa-sm.text-info.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.solubility && experimentalProperties.solubility.values && experimentalProperties.solubility.values.length > 0
                h6 Solubility
                ul.list-unstyled
                  each item in experimentalProperties.solubility.values.slice(0, 3)
                    li
                      i.fas.fa-tint.fa-sm.text-info.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

            .col-md-6
              // Thermal Properties
              if experimentalProperties.meltingPoint && experimentalProperties.meltingPoint.values && experimentalProperties.meltingPoint.values.length > 0
                h6 Melting Point
                ul.list-unstyled
                  each item in experimentalProperties.meltingPoint.values.slice(0, 3)
                    li
                      i.fas.fa-thermometer-half.fa-sm.text-danger.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.boilingPoint && experimentalProperties.boilingPoint.values && experimentalProperties.boilingPoint.values.length > 0
                h6 Boiling Point
                ul.list-unstyled
                  each item in experimentalProperties.boilingPoint.values.slice(0, 3)
                    li
                      i.fas.fa-thermometer-full.fa-sm.text-danger.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.flashPoint && experimentalProperties.flashPoint.values && experimentalProperties.flashPoint.values.length > 0
                h6 Flash Point
                ul.list-unstyled
                  each item in experimentalProperties.flashPoint.values.slice(0, 3)
                    li
                      i.fas.fa-fire.fa-sm.text-warning.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

              if experimentalProperties.density && experimentalProperties.density.values && experimentalProperties.density.values.length > 0
                h6 Density
                ul.list-unstyled
                  each item in experimentalProperties.density.values.slice(0, 3)
                    li
                      i.fas.fa-weight.fa-sm.text-info.iconpadding
                      = item.value
                      if item.reference
                        small.text-muted (Ref: #{ item.reference })

          // Additional experimental properties in a second row
          if (experimentalProperties.vaporPressure && experimentalProperties.vaporPressure.values && experimentalProperties.vaporPressure.values.length > 0) || (experimentalProperties.logP && experimentalProperties.logP.values && experimentalProperties.logP.values.length > 0) || (experimentalProperties.stability && experimentalProperties.stability.values && experimentalProperties.stability.values.length > 0) || (experimentalProperties.decomposition && experimentalProperties.decomposition.values && experimentalProperties.decomposition.values.length > 0)
            hr
            .row
              .col-md-6
                if experimentalProperties.vaporPressure && experimentalProperties.vaporPressure.values && experimentalProperties.vaporPressure.values.length > 0
                  h6 Vapor Pressure
                  ul.list-unstyled
                    each item in experimentalProperties.vaporPressure.values.slice(0, 3)
                      li
                        i.fas.fa-cloud.fa-sm.text-info.iconpadding
                        = item.value
                        if item.reference
                          small.text-muted (Ref: #{ item.reference })

                if experimentalProperties.logP && experimentalProperties.logP.values && experimentalProperties.logP.values.length > 0
                  h6 LogP (Partition Coefficient)
                  ul.list-unstyled
                    each item in experimentalProperties.logP.values.slice(0, 3)
                      li
                        i.fas.fa-balance-scale.fa-sm.text-info.iconpadding
                        = item.value
                        if item.reference
                          small.text-muted (Ref: #{ item.reference })

              .col-md-6
                if experimentalProperties.stability && experimentalProperties.stability.values && experimentalProperties.stability.values.length > 0
                  h6 Stability/Shelf Life
                  ul.list-unstyled
                    each item in experimentalProperties.stability.values.slice(0, 3)
                      li
                        i.fas.fa-shield-alt.fa-sm.text-success.iconpadding
                        = item.value
                        if item.reference
                          small.text-muted (Ref: #{ item.reference })

                if experimentalProperties.decomposition && experimentalProperties.decomposition.values && experimentalProperties.decomposition.values.length > 0
                  h6 Decomposition
                  ul.list-unstyled
                    each item in experimentalProperties.decomposition.values.slice(0, 3)
                      li
                        i.fas.fa-exclamation-triangle.fa-sm.text-warning.iconpadding
                        = item.value
                        if item.reference
                          small.text-muted (Ref: #{ item.reference })
        else
          .alert.alert-info
            i.fas.fa-info-circle.fa-sm.iconpadding
            | Experimental properties data is currently not available from the PubChem API for this compound. This may be due to limited experimental data or API response structure changes.
            br
            small.text-muted Note: The system is fetching data from multiple PubChem endpoints, but some experimental properties may not be available for all compounds.

  // Classifications Section
  if classifications && classifications.length > 0
    .card.text-white.bg-secondary.mb-4
      .card-header
        h6.panel-title.mb-0 Chemical Classifications
      .card-body.text-dark.bg-white
        each classification in classifications.slice(0, 3)
          if classification.Node && classification.Node.length > 0
            h6= classification.SourceName || 'Classification'
            .mb-3
              each node in classification.Node.slice(0, 5)
                if node.Information && node.Information.Name
                  span.badge.badge-info.m-1= node.Information.Name

  // Search Results Section
  if similarCompounds && similarCompounds.length > 0
    .card.text-white.bg-primary.mb-4
      .card-header
        h6.panel-title.mb-0 Related Compounds (Search Results)
      .card-body.text-dark.bg-white
        .row
          each compound in similarCompounds.slice(0, 5)
            if compound.PC_Compounds && compound.PC_Compounds[0]
              - var comp = compound.PC_Compounds[0];
              - var cid = comp.id && comp.id.id && comp.id.id.cid;
              - var iupacProp = comp.props && comp.props.find((p) => p.urn && p.urn.label === 'IUPAC Name');
              - var molFormulaProp = comp.props && comp.props.find((p) => p.urn && p.urn.label === 'Molecular Formula');
              .col-md-6.col-lg-4.mb-3
                .card.h-100
                  .card-body
                    h6.card-title
                      if iupacProp && iupacProp.value && iupacProp.value.sval
                        = iupacProp.value.sval.length > 50 ? iupacProp.value.sval.substring(0, 50) + '...' : iupacProp.value.sval
                      else
                        | Compound CID: #{ cid }
                    if molFormulaProp && molFormulaProp.value && molFormulaProp.value.sval
                      p.card-text
                        strong Formula:
                        | #{ molFormulaProp.value.sval }
                    if cid
                      a.btn.btn-sm.btn-outline-primary(href=`https://pubchem.ncbi.nlm.nih.gov/compound/${cid}`, target='_blank') View Details

  // Additional Information Section
  .card.text-white.bg-dark.mb-4
    .card-header
      h6.panel-title.mb-0 Additional Information & Usage
    .card-body.text-dark.bg-white
      .row
        .col-md-6
          h6 Medical Information
          p Aspirin (acetylsalicylic acid) is a widely used medication with multiple therapeutic applications:
          ul
            li Pain relief (analgesic)
            li Fever reduction (antipyretic)
            li Anti-inflammatory effects
            li Cardiovascular protection (low-dose)
            li Antiplatelet therapy
        .col-md-6
          h6 Manufacturing & Vendors
          p Aspirin is manufactured by numerous pharmaceutical companies worldwide through the acetylation of salicylic acid.
          ul
            li Major pharmaceutical manufacturers
            li Available over-the-counter
            li Various formulations (tablets, capsules, etc.)
            li Generic and brand name versions

      hr
      .row
        .col-md-6
          h6 Storage & Handling
          ul
            li Store in a cool, dry place
            li Keep container tightly closed
            li Protect from moisture and light
            li Keep out of reach of children
        .col-md-6
          h6 First Aid Information
          ul
            li In case of overdose, seek immediate medical attention
            li Contact poison control center
            li Do not induce vomiting unless directed
            li Provide supportive care as needed

  // External Links
  .card.text-white.bg-info.mb-4
    .card-header
      h6.panel-title.mb-0 External Resources
    .card-body.text-dark.bg-white
      .btn-group.d-flex(role='group')
        if aspirinCID
          a.btn.btn-outline-primary.w-100(href=`https://pubchem.ncbi.nlm.nih.gov/compound/${aspirinCID}`, target='_blank')
            i.fas.fa-external-link-alt.fa-sm.iconpadding
            | PubChem Page
        else
          .alert.alert-danger
            | Unable to fetch chemical information from PubChem API. Please try again later.
        a.btn.btn-outline-primary.w-100(href='https://www.drugbank.ca/drugs/DB00945', target='_blank')
          i.fas.fa-pills.fa-sm.iconpadding
          | DrugBank
        a.btn.btn-outline-primary.w-100(href='https://en.wikipedia.org/wiki/Aspirin', target='_blank')
          i.fab.fa-wikipedia-w.fa-sm.iconpadding
          | Wikipedia
