extends ../layout

block content
  .page-header
    h2
      i.fa.fa-yahoo(style='color: #7b0099')
      | Yahoo Fiance
  
  p.lead
  form.form-horizontal(action='', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='symbol') Symbol
      .col-sm-7
        input.form-control(type='symbol', name='symbol', id='symbol', placeholder='Symbol, e.g., GOOG for Google', autofocus=true)
  p
  br
  p.lead Stock for ZIP Code:
    //strong  #{location.symbol}
  .alert.alert-info
    p     
    each loc in location 
      each val, key in loc
        p #{key}: #{val}
   
  table
    thead
    tbody
    for row in location
      tr
        for val, key in row
          td #{key}: #{val}

      

  //h3 YQL Query
  //pre SELECT * FROM weather.forecast 
